<div class="bg-[#1e6474] mt-10">
  <div class="flex gap-1.5 flex-wrap p-5">
    <div style="line-height: 35px; text-align: center" class="md:w-[50%]">
      <b class="text-white text-2xl font-serif"
        >Great gift ideas delivered directly to you.</b
      >
      <br />
      <p class="text-center">
        <b class="text-white text-2xl font-serif">Sign up today.</b>
      </p>
    </div>
    <label class="flex flex-1 gap-5 justify-center">
      <input
        type="text"
        placeholder="Enter email"
        class="w-[180px] md:w-[50%] h-15 border border-white px-5 rounded-sm"
      />
      <button
        class="w-[90px] md:w-[25%] h-15 bg-white font-semibold text-[#1e6474] rounded-sm"
      >
        Subscribe
      </button>
    </label>
  </div>
  <div
    style="text-align: center; line-height: 35px"
    class="bg-white p-3 pt-5 lg:pt-0 lg:bg-[#1e6474] lg:flex md:px-10 lg:justify-between items-center"
  >
    <hr class="lg:hidden" />
    <div class="m-5 lg:text-white">
      <div class="cursor-pointer text-2xl"></div>
      <span class="text-4xl font-serif font-semibold">To</span
      ><span class="text-2xl font-semibold">&</span
      ><span class="text-4xl font-serif font-semibold">From</span>
    </div>
    <div
      style="color: #1e6474"
      class="flex gap-3 lg:!text-white justify-evenly text-[20px] md:order-3 md:gap-5"
    >
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-pinterest"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div
      style="color: #1e6474"
      class="flex gap-3 md:gap-10 justify-between p-5 lg:!text-white"
    >
      <button>About us</button>
      <button>Contact us</button>
      <button>Privacy</button>
    </div>
  </div>
  <div
    class="bg-green-400 border rounded-[50%] w-[50px] h-[50px] p-1 border-white drop-shadow-lg flex justify-center items-center fixed left-2 bottom-5"
  >
    <mat-icon fontIcon="cookie" style="color: white" />
  </div>
</div>
