<!--Navbar for small screen-->
<mat-toolbar class="navbar smallScreenNav">
  <mat-icon fontIcon="search_outline"></mat-icon>
  <span
    ><span class="logo-largePart">To</span><span>&</span
    ><span class="logo-largePart">From</span></span
  >
  <span class="nav-icons">
    <mat-icon fontIcon="bookmark_outline"></mat-icon>
    <span class="cursor-pointer">
      <span class="absolute top-0 badge">0</span>
      <mat-icon
        matBadgeOverlap="false"
        fontIcon="shopping_bag_outline"
      ></mat-icon>
    </span>
    <mat-icon fontIcon="person_outline"></mat-icon>
  </span>
</mat-toolbar>

<!--Navbar for large screen-->
<mat-toolbar class="navbar relative largeScreenNav">
  <span class="cursor-pointer"
    ><span class="logo-largePart">To</span><span>&</span
    ><span class="logo-largePart">From</span></span
  >
  <span class="nav-options">
    <span class="cursor-pointer" title="Curated assortment of the best brands."
      >Shop Gifts</span
    >
    <span
      ><button
        class="absolute top-0 cursor-pointer"
        style="
          position: absolute;
          width: 10px;
          height: 20px;
          color: #d42566;
          border: 1px solid #d42566;
        "
        mat-stroked-button
        title="Let Charlotte do the gifting for you. Powered by AI with a human touch."
      >
        NEW!</button
      ><span
        title="Let Charlotte do the gifting for you. Powered by AI with a human touch."
        class="cursor-pointer"
        >Charlotte</span
      ></span
    >
    <span
      class="cursor-pointer"
      title="Curious what they (or you!) might like? Take our quiz for the best ideas."
      >Gifting Quiz</span
    >
  </span>
  <span class="nav-icons">
    <mat-icon class="cursor-pointer" fontIcon="bookmark_outline"></mat-icon>
    <mat-icon class="cursor-pointer" fontIcon="search_outline"></mat-icon>
    <span class="cursor-pointer">
      <span class="absolute top-0 badge">0</span>
      <mat-icon
        matBadgeOverlap="false"
        fontIcon="shopping_bag_outline"
      ></mat-icon>
    </span>
    <mat-icon class="cursor-pointer" fontIcon="person_outline"></mat-icon>
  </span>
</mat-toolbar>
